<!DOCTYPE html>
<html lang="en">
<head>
    <title>UNIHub - Home</title>
    <meta charset="utf-8" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="public/img/UNIHub.png">



    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <script src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous'></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


</head>

<!-- CSS -->

<style>

    #navbar {
        background-color: #323232;
        box-shadow: 2px 0 5px 0 #1F1F1F;
    }

    #body {
        background-color: #1F1F1F;
        overflow-x: hidden;
        font-size: 14px;
        color: white;
    }

    #main {

    }

    #project {
        background-color: #2C2C2C;
        border-right: 0.5px solid #323232;
        padding: 2%;
    }

    #my_proj {
        height: 24px;
        border-radius: 100px;
        border: 1px solid #323232;
        background-color: #1F1F1F;
        color: white;
    }

    #dashboard {

    }

    #info {
        background-color: #2C2C2C;
    }

    #footer {
        background-color: white;
        color: #1F1F1F;
    }

    img:hover {
        cursor: pointer;
    }

    a img {
        filter: invert(100%);
    }

    a img:hover {
        filter: invert(50%);
        transition: 0.5s;
    }

    .btn {
        color: white;
        font-size: 14px;
        font-weight: 500;
    }

    .btn:hover {
        color:  #A0A0A0;
        transition: 0.5s;
    }

    .proj {
        color: white;
        font-size: 14px;
        text-decoration: none;
    }

    .proj p{
        margin-bottom: 5px;
    }

    .proj:hover {
        color:  #A0A0A0;
        text-decoration: underline;
        transition: 0.5s
    }

    .activity {
        padding: 3%;
        margin-top: 10px;
        border: 1px dashed white;
        border-radius: 10px;
    }

    .form-control {
        height: 24px;
        border-radius: 100px;
        border: none;
    }

</style>

<!-- body -->

<body id="body">

<!-- navbar -->

<div id="navbar" class="navbar justify-content-center">
    <div class="container-fluid">
        <div class="d-flex justify-content-left align-items-center">
            <img class="navbar-brand" src="img/UNIHub2.png" alt="logo" height="50px"  onClick="window.location = 'index.html'">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <a class="btn" href="">Push</a>
            <a class="btn" href="">Pull</a>
            <a class="btn" href="">Explore</a>
            <a class="btn" href="">Explore</a>
        </div>

        <div class="d-flex justify-content-right align-items-center">
            <a class="btn" href=""><img src="img/svg/bell.svg" alt="notify"></a>
            <a class="btn" href=""><img src="img/svg/gear.svg" alt="gear"></a>
            <img class="navbar-brand" src="img/UNIHub2.png" alt="icon" height="50px">
        </div>
    </div>
</div>

<!-- main -->

<div id="main" class="row">

    <!-- project list -->

    <div id="project" class="col-sm-3">
        <div class="d-flex justify-content-between align-items-center">
            <p style="margin: 0"><b>Top projects</b></p>
            <a class="btn btn-success" href="">New</a>
        </div>

        <div class="d-flex justify-content-between align-items-center" style="margin-top: 10px">
            <input id="my_proj" class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>

        <br>
        <a class="proj" href=""><p>Example/of/project/path#1</p></a>
        <a class="proj" href=""><p>Example/of/project/path#2</p></a>
        <a class="proj" href=""><p>Example/of/project/path#3</p></a>
        <br>

        <div class="d-flex justify-content-between align-items-center">
            <p style="margin: 0"><b>Recent activity</b></p>
        </div>

        <div class="d-flex justify-content-between align-items-center activity">
            <p style="font-size: 12px">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>

    <!-- dashboard -->

    <div id="dashboard" class="col-sm-6">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

    <!-- info -->

    <div id="info" class="col-sm-3">

    </div>

</div>

<!-- footer -->

<div id="footer" class="row" align="center">
    <p><b>Powered by</b>&emsp;Andrea Spinelli, Marco Valenti, Raffaele Terracino</p>
</div>

</body>

<!-- script -->

<script>

</script>

</html>